<%= form_with(model: itens_venda) do |form| %>
  <% if itens_venda.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(itens_venda.errors.count, "erro") %> impediram que este item de venda fosse salvo:</h2>

      <ul>
        <% itens_venda.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :quantidade, style: "display: block" %>
    <%= form.text_field :quantidade %>
  </div>

  <div>
    <%= form.label :preco_unitario, style: "display: block" %>
    <%= form.text_field :preco_unitario %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
