<p style="color: green"><%= notice %></p>

<%= render @itens_venda %>

<div>
  <%= link_to "Editar item de venda", edit_itens_venda_path(@itens_venda) %> |
  <%= link_to "Voltar para itens de venda", itens_vendas_path %>

  <%= button_to "Excluir este item de venda", @itens_venda, method: :delete %>
</div>
