<p style="color: green"><%= notice %></p>

<%= render @itens_venda %>

<div>
  <%= link_to "Edit this itens venda", edit_itens_venda_path(@itens_venda) %> |
  <%= link_to "Back to itens vendas", itens_vendas_path %>

  <%= button_to "Destroy this itens venda", @itens_venda, method: :delete %>
</div>
