<div id="<%= dom_id venda %>">
  <div>
    <strong>Data:</strong>
    <%= venda.data %>
  </div>

  <div>
    <strong>Total:</strong>
    <%= venda.total %>
  </div>

  <div>
    <strong>Cliente:</strong>
    <%= venda.cliente_id %>
  </div>

  <div>
    <strong>Funcionario:</strong>
    <%= venda.funcionario_id %>
  </div>

</div>
