<p style="color: green"><%= notice %></p>

<%= render @funcionario %>

<div>
  <%= link_to "Editar funcionário", edit_funcionario_path(@funcionario) %> |
  <%= link_to "Voltar para funcionários", funcionarios_path %>

  <%= button_to "Excluir este funcionário", @funcionario, method: :delete %>
</div>
