<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Campus Food" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Campus Food">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <!-- ===== TOPBAR ===== -->
    <header class="topbar">
      <div class="topbar-container">

        <div class="logo">
          <span class="campus">CAMPUS</span>
          <span class="food">FOOD</span>
        </div>

        <nav class="menu">
          <%= link_to "Clientes", clientes_path,
            class: ("active" if current_page?(clientes_path)) %>

          <%= link_to "Funcionários", funcionarios_path,
            class: ("active" if defined?(funcionarios_path) && current_page?(funcionarios_path)) %>

          <%= link_to "Produtos", produtos_path,
             class: ("active" if current_page?(produtos_path)) %>

          <%= link_to "Vendas", vendas_path,
            class: ("active" if current_page?(vendas_path)) %>

          <%= link_to "Relatórios", "#",
            class: ("active" if current_page?("#")) %>
        </nav>

        <div class="user-info">
          <% if user_signed_in? %>
            <span>Logado como: <strong><%= current_user.email %></strong></span>
            <%= link_to "Sair", destroy_user_session_path, data: { turbo_method: :delete }, class: "logout" %>
          <% else %>
            <%= link_to "Entrar", new_user_session_path, class: "auth-link" %>
            <%= link_to "Registrar", new_user_registration_path, class: "auth-link" %>
          <% end %>
        </div>

      </div>
    </header>

    <!-- ===== FLASH MESSAGES ===== -->
    <main class="main-content">

      <% if notice %>
        <p class="flash notice"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="flash alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </main>

  </body>

  
</html>